
<div class="col-12 col-xl-4" style="
width: 116%;
margin-left: 30px;
height: 72%;
padding: 36px;
margin: auto;"   *ngIf="allBooksdata">
  <div class="row">
    <div class="col-12 mb-4">
  <div class="card shadow border-1 text-center p-0" >
    <div class="card-body pb-5">

      <h4 class="h3">BookName:{{allBooksdata.book_name}}</h4>
      <p class="text-gray mb-4"> Author:{{allBooksdata.author}}</p>
      <p class="text-gray mb-4">isbn-number: {{allBooksdata.isbn_number}}</p>
      <p class="text-gray mb-4">category: {{allBooksdata.isbn_number}}</p>
    </div>
  </div>
  </div>
  </div>
  </div>
