
<app-navbar></app-navbar>
 <div class="card border-0 shadow mb-4 mt-5">
     <div class="card-body">
        <div class="table-responsive">
           <table class="table table-centered table-nowrap mb-0 rounded">
              <thead class="thead-light">
                 <tr>
                    <th class="border-0 rounded-start">SID</th>
                    <th class="border-0">studentName</th>
                    <th class="border-0">mobile</th>
                    <th class="border-0">Reg Date</th>
                    <th class="border-0">status</th>
                    <th class="border-0">Actions</th>
          
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let u of viewData">

                   <td>{{u.SID}}</td>
                   <td>{{u.fullname}}</td>
                   <td>{{u.mobile}}</td>
                    <td>{{ u.createdAt | date: 'dd/MM/yyyy hh:mm a' }}</td>
                   <td>
                     <div *ngIf="u.status==1; else elseBlock">
                    Active

                     </div>
                     <ng-template #elseBlock>
                        Blocked
                     </ng-template> 
                   </td>
                   <td>
                     <div *ngIf="u.status==1; else elseBlock34">
                        <button class="btn btn-danger" type="button" (click)="onEditUser(u._id)">InActive</button>
                     

                     </div>
                     <ng-template #elseBlock34>
                        <button class="btn  btn-success" type="button" (click)="onEditUserActive(u._id)">Active</button>

                     </ng-template>
                   </td>
         
 
                 </tr>
 
              </tbody>
           </table>
        </div>
     </div>
  </div>
 