<div class="row">
  <div class="col-12 mb-4 mt-5">
    <div class="card border-0 shadow components-section">
      <div class="card-body">
        <form [formGroup]="reactiveForm" (ngSubmit)="addIssueBooks()">
          <div class="row mb-4">

            <div class="col-lg-4 col-sm-6">
              <div class="mb-4">
                <label for="StudentId">StudentId</label>
                <input type="text" class="form-control" formControlName="StudentId">
              </div>


              <div class="col-12 col-xl-4" style="
              width: 116%;
              margin-left: 30px;
              height: 72%;
              padding: 36px;
              margin: auto;" [style.display]="matchedData ? 'block' : 'none'">
                <div class="row">
                  <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                      <div class="card-body pb-5">

                        <h4 class="h3">FullName:{{matchedData.fullname}}</h4>
                        <p class="text-gray mb-4"> SID:{{matchedData.SID}}</p>
                        <p class="text-gray mb-4">MObile:{{matchedData.
                          mobile
                          }}</p>
                        <p class="text-gray mb-4">Email:{{matchedData.
                          email
                          }}</p>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
              <div class="mb-4">
                <label for="isbn-number">ISBN Number or Book Title</label>
                <input type="text" class="form-control" id="price" formControlName="isbnnumber">
              </div>

              


            </div>
            <div class="col-lg-4 col-sm-6">




            </div>
            <div class="mb-3 ">
              <button class="btn btn-tertiary" type="submit">Issue Books</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>