<app-navbar></app-navbar>
<div class="col-lg-4">
    <div class="modal fade" id="modal-form-signup" tabindex="-1" role="dialog" aria-labelledby="modal-form-signup" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
             <div class="modal-body p-0">
                <div class="card p-3 p-lg-4">
                   <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                   <div class="text-center text-md-center mb-4 mt-md-0">
                      <h1 class="mb-0 h4">Update All Books Data</h1>
                      <hr>
                   </div>

                   <form [formGroup]="reactiveForm" (ngSubmit)="AddbookImages()">
                     <div class="row mb-4">
                        
                       <div class="col-md-4 col-md-6">
                         <div class="mb-4">
                           <label for="book-name">Book Name</label>
                           <input type="text" class="form-control" id="book-name" formControlName="book_name">
                         </div>
                         <div class="mb-4">
                           <label for="author-name">Author Name</label>
                           <select class="form-select" id="author-name" aria-label="Default select example" formControlName="author">
                            <option *ngFor="let aut of AuthorData" [ngValue]="aut.author">
                              {{ aut.author }}
                            </option>
                    
                           </select>
                         </div>
                         <div class="mb-4">
                           <label for="price">Price</label>
                           <input type="text" class="form-control" id="price" formControlName="price">
                         </div>
                       </div>
                       <div class="col-md-4 col-md-6">
                         <div class="mb-4">
                           <label for="category">Category </label>
                           <select class="form-select" id="category" aria-label="Default select example" formControlName="category">
                            <option *ngFor="let prf of categoryData" [ngValue]="prf.category">
                              {{ prf.category }}
                            </option>
                    
                           </select>
                         </div>
                         <div class="mb-4">
                           <label for="isbn-number">ISBN Name</label>
                           <input type="text" class="form-control" id="isbn-number" formControlName="isbn_number">
                         </div>
                         <div class="mb-3">
                          <label for="formFile" class="form-label">Default file input example</label>
                          <input class="form-control" type="file" id="formFile">
                          <!-- Display the image if the condition is true -->
                          <div  >
                          <ng-container *ngIf="editBooksValue?.data">

                            <input class="form-control" type="file" id="formFile">
                            <img src="http://localhost:1010/files/{{editBooksValue?.data}}" width="auto" height="auto">
                          </ng-container>
                          </div>
                        </div>
                  
                       </div>
                       <div class="mb-3 text-center">
                        <button class="btn btn-tertiary text-center" type="submit" (click)="$event.preventDefault();UpdateAllDataImages()">Update</button>
                       </div>
                     </div>
                  </form>

                   <div class="d-flex justify-content-center align-items-center mt-4"><span class="fw-normal">Already have an account? <a href="#" class="fw-bold">Login here</a></span></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 <div class="card border-0 shadow mb-4 mt-5">
     <div class="card-body">
        <div class="table-responsive">
           <table class="table table-centered table-nowrap mb-0 rounded">
              <thead class="thead-light">
                 <tr>
                  <th class="border-0">ID</th>
                    <th class="border-0">Book_Name</th>
                    <th class="border-0">Author</th>
                    <th class="border-0">Price</th>
                    <th class="border-0">Category</th>
                    <th class="border-0">isbn_number</th>
                    <th class="border-0">Images</th>
                    <th class="border-0">Action</th>
          
                 </tr>
              </thead>
              <tbody><tr>
                <tr *ngFor="let u of image"> 
                  <td>{{u._id}}</td>
                  <td>{{u.book_name}}</td>
                  <td>{{u.author}}</td>
                  <td>{{u.price}}</td>
                  <td>{{u.category}}</td>
                  <td>{{u.isbn_number}}</td>
                   <td>
                     <img src="http://localhost:1010/files/{{u.data}}" width="auto" height="auto"></td>
                   <td> 
                      <button class="btn btn-success" type="button" (click)="onEditUser(u._id)" data-bs-toggle="modal" data-bs-target="#modal-form-signup">Edit</button>
                      &nbsp;
                      <button class="btn btn-danger" type="button" (click)="deleteuser(u._id)">delete</button> 
                   </td>
         
 
                 </tr>
 
              </tbody>
           </table>
        </div>
     </div>
  </div>
