<app-navbar></app-navbar>
<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
       <div class="row justify-content-center form-bg-image">
          <div class="col-12 d-flex align-items-center justify-content-center">
             <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                <h1 class="h3">Change  password</h1>
              
                <form
                class="form"
                [formGroup]="resetPasswordForm"
                (ngSubmit)="onSubmit()"
              >
                <div class="mb-3">
                  <label for="newPassword">New password: </label>
                  <input
                    id="newPassword"
                    type="password"
                    class="form-control"
                    formControlName="newPassword"
                    #pw
                  />
                  <div
                    *ngIf="
                      newPassword.invalid &&
                      (newPassword.dirty || newPassword.touched)
                    "
                    class="form-text text-danger"
                  >
                    <div *ngIf="newPassword.errors?.['required']">
                      Field is required
                    </div>
                    <div *ngIf="newPassword.errors?.['pattern']">
                      Password must contain at least one number, one uppercase and a
                      lowercase letter and at least 8 characters<br />Password cannot
                      contain whitespace
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="confirmPassword">New password (confirmation):</label>
                  <input
                    id="confirmPassword"
                    type="password"
                    class="form-control"
                    [ngClass]="confirmPasswordClass"
                    formControlName="confirmPassword"
                    #cpw
                  />
                  <div
                    *ngIf="
                      confirmPassword.invalid &&
                      (confirmPassword.dirty || confirmPassword.touched)
                    "
                    class="form-text text-danger"
                  >
                    <div *ngIf="confirmPassword.errors?.['required']">
                      Field is required
                    </div>
                    <div *ngIf="confirmPassword.errors?.['pattern']">
                      Password must contain at least one number, one uppercase and a
                      lowercase letter and at least 8 characters<br />Password cannot
                      contain whitespace
                    </div>
                    <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                      Passwords did not match
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    type="submit"
                    [disabled]="resetPasswordForm.invalid"
                    class="btn btn-tertiary"
                  >
                    Reset password
                  </button>

                </div>
              </form>
             </div>
          </div>
       </div>
    </div>
 </section>