<div class="row">
    <div class="col-12 mb-4">
       <div class="card border-0 shadow components-section">
          <div class="card-body">
             <div class="row mb-4">
                <div class="col-lg-4 col-sm-6">
                   <div class="mb-4"><label for="book-name">Book Name</label>
                     <input type="text" class="form-control" id="book-name" >
 
                    </div>
                   

                       <div class="mb-4"><label for="author-name">Author Name</label>
                        <input type="text" class="form-control" id="author-name" >
    
                       </div>
            
                 

                   
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="mb-4">
                        <label for="book-name">Category </label>
                        <select class="form-select" id="country" aria-label="Default select example">
                            <option selected="selected">Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                         </select>
    
                       </div>
                   <div class="mb-3"><label for="disabledTextInput">Name</label> <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" disabled="disabled"></div>
                   <div class="mb-3">
                      <label for="disabledSelect">Disabled select menu</label> 
                      <select id="disabledSelect" class="form-control" disabled="disabled">
                         <option>Disabled select</option>
                      </select>
                   </div>
                   <div class="mb-4">
                      <label class="my-1 me-2" for="country">Country</label> 
                      <select class="form-select" id="country" aria-label="Default select example">
                         <option selected="selected">Open this select menu</option>
                         <option value="1">One</option>
                         <option value="2">Two</option>
                         <option value="3">Three</option>
                      </select>
                   </div>
                   <div class="mb-3"><label for="formFile" class="form-label">Default file input example</label> <input class="form-control" type="file" id="formFile"></div>
                </div>
             </div>

          </div>
       </div>
    </div>
 </div>
