<div class="row">
   <div class="col-12 mb-4 mt-5">
     <div class="card border-0 shadow components-section">
       <div class="card-body">
         <form [formGroup]="reactiveForm" (ngSubmit)="AddBooks()">
         <div class="row mb-4">
            
           <div class="col-lg-4 col-sm-6">
             <div class="mb-4">
               <label for="book-name">Book Name</label>
               <input type="text" class="form-control" id="book-name" formControlName="book_name">
             </div>
             <div class="mb-4">
               <label for="author-name">Author Name</label>
               <select class="form-select" id="author-name" aria-label="Default select example" formControlName="author">
                <option *ngFor="let aut of AuthorData" [ngValue]="aut.author">
                  {{ aut.author }}
                </option>
        
               </select>
             </div>
             <div class="mb-4">
               <label for="price">Price</label>
               <input type="text" class="form-control" id="price" formControlName="price">
             </div>
           </div>
           <div class="col-lg-4 col-sm-6">
             <div class="mb-4">
               <label for="category">Category </label>
               <select class="form-select" id="category" aria-label="Default select example" formControlName="category">
                <option *ngFor="let prf of categoryData" [ngValue]="prf.category">
                  {{ prf.category }}
                </option>
        
               </select>
             </div>
             <div class="mb-4">
               <label for="isbn-number">ISBN Name</label>
               <input type="text" class="form-control" id="isbn-number" formControlName="isbn_number">
             </div>
             <div class="mb-3">
               <label for="formFile" class="form-label">Default file input example</label>
               <input class="form-control" type="file" id="formFile" (change)="selectFile($event)" accept="image/*">
             </div>
      
           </div>
           <div class="mb-3 ">
            <button class="btn btn-tertiary" type="submit" (click)="upload()">Create</button>
           </div>
         </div>
      </form>
       </div>
     </div>
   </div>